<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Редактирование звонка</title>
</head>
<body>
<form action="#" th:action="@{/update/{id}(id=*{Id})}" th:object="${phoneCall}" method="post">
    <label for="Destination">Исходящий</label>
    <input type="checkbox" th:field="*{Destination}" id="Destination" placeholder="Направление"  checked="*{Destination}}">
    <label for="Number">Номер</label>
    <input type="text" th:field="*{Number}" id="Number" placeholder="Номер" value="*{Number}}">
    <label for="Caller">Абонент</label>
    <input type="text" th:field="*{Caller}" id="Caller" placeholder="Абонент" value="*{Caller}}">
    <label for="Operator">Оператор</label>
    <input type="text" th:field="*{Operator}" id="Operator" placeholder="Оператор" value="*{Operator}}">
    <label for="CallDate">Дата звонка</label>
    <input type="datetime-local" th:field="*{CallDate}" id="CallDate" placeholder="Дата звонка" value="*{CallDate}}">
    <label for="Comment">Комментарий</label>
    <input type="text" th:field="*{Comment}" id="Comment" placeholder="Комментарий" value="*{Comment}}">
    <input type="submit" value="Сохранить">
    <ul>
        <li th:each="e : ${#fields.detailedErrors()}" th:class="${e.global}? globalerr : fielderr">
            <span th:text="${e.global}? '*' : ${e.fieldName}">The field name</span> |
            <span th:text="${e.message}">The error message</span>
        </li>
    </ul>
</form>
<a href="/">На главную</a>
</body>
</html>